// Navigation Styles here

.navigation {
    margin: 2.2rem auto 0 auto;
    max-width: 800px; 
    display: flex;
    align-items: center;
    .center;
    padding-bottom: 2.5rem;

    nav {
        width: 40%;
       .center;

        a {
            font-size: 1.65rem;
            margin-right: 9%;
            text-decoration: none;
            color: black;
        }

    }
}
.line {
        margin: 0 auto;
        width: 69%;
        border-bottom: 2px dashed lightgray;
    }